@keyframes projectAnimacion{
    0%{
        transform: translate(100%);
        opacity: 0;
    }
}

@keyframes skillAnimacion{
    0%{
        opacity: 0;
    }
}
@keyframes skillAnimacion2{
    0%{
        transform: scale(2);
    }
}